@{
    ViewBag.Title = "Contact";
}
<!-- Start Breadcrumb
   ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(~/wwwroot/files/img/banner/6.jpg);">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <h2>Careers</h2>
            </div>
            <div class="col-lg-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Careers</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Contact
============================================= -->
<div class="contact-area overflow-hidden default-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 contact-form-box">
                <div class="content">
                    <div class="heading">
                        <h2>Join With Us</h2>
                        <p>Reach out to the world’s most reliable IT services.</p>
                    </div>
                    <form action="https://webhunt.store/themeforest/techa/files/mail/contact.php" method="POST" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Name*" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Phone*" type="email">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Address</option>
                                        <option>Amman</option>
                                        <option>Zarqa</option>
                                        <option>Irbid</option>
                                        <option>Sahab</option>
                                        <option>Salt</option>
                                        <option>Madaba</option>
                                    </select>
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Nationality" type="email">
                                    <span class="alert-error"></span>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="University*" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="Major*" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="Graduation Year*" type="text">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Select Job</option>
                                        <option>React Developer</option>
                                        <option>Web Developer</option>
                                        <option>Database Developer</option>
                                    </select>
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" placeholder="Graduation Year*" type="file">
                                    <span class="alert-error"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group comments">
                                    <textarea class="form-control" id="comments" name="comments" placeholder="Please describe the experience you."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" name="submit" id="submit">
                                    Send
                                </button>
                            </div>
                        </div>
                        <!-- Alert Message -->
                        <div class="col-md-12 alert-notification">
                            <div id="message" class="alert-msg"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="sidebar wow fadeInLeft col-lg-4 col-md-12">
                <aside>


                    <div class="sidebar-item recent-post">
                        <div class="title">
                            <h4>Blogs</h4>
                        </div>
                        <ul>
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="~/files/img/gallery/1.jpg" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">Participate in staff meetingness manage dedicated</a>
                                    <div class="meta-title">
                                        <span class="post-date"><i class="fas fa-clock"></i> 12 Feb, 2020</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="~/img/gallery/2.jpg" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">Future Plan & Strategy for Consutruction </a>
                                    <div class="meta-title">
                                        <span class="post-date"><i class="fas fa-clock"></i> 05 Jul, 2019</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="thumb">
                                    <a href="#">
                                        <img src="~/img/gallery/3.jpg" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">Melancholy particular devonshire alteration</a>
                                    <div class="meta-title">
                                        <span class="post-date"><i class="fas fa-clock"></i> 29 Aug, 2020</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <br />
                    <div class="sidebar-item gallery">

                        <div class="sidebar-info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="~/files/img/gallery/1.jpg" alt="thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/files/img/gallery/2.jpg" alt="thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/files/img/gallery/3.jpg" alt="thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/files/img/gallery/4.jpg" alt="thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/files/img/gallery/5.jpg" alt="thumb">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="~/files/img/gallery/6.jpg" alt="thumb">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="sidebar-item social-sidebar" style="margin-top:30px;">
                        <div class="title">
                            <h4>follow us</h4>
                        </div>
                        <div class="sidebar-info">
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="pinterest">
                                    <a href="#">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="g-plus">
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </aside>
                    </div>


        </div>
    </div>
</div>

<div class="team-area default-padding bottom-less" style="    padding-top: 0px;">
    <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                         <h2>Our Team</h2>
                    </div>
                </div>
        </div>
        <div class="team-items text-center">
            <div class="row">
                <!-- Sngle Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/img/team/1.jpg" alt="Thumb">
                            <div class="social">
                                <input type="checkbox" id="toggle" class="share-toggle" hidden>
                                <label for="toggle" class="share-button">
                                    <i class="fas fa-plus"></i>
                                </label>
                                <a href="#" class="share-icon facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="share-icon twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="share-icon instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Sporia Deko</h4>
                            <span>Marketing</span>
                        </div>
                    </div>
                </div>
                <!-- End Sngle Item -->
                <!-- Sngle Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/img/team/2.jpg" alt="Thumb">
                            <div class="social">
                                <input type="checkbox" id="toggle-2" class="share-toggle" hidden>
                                <label for="toggle-2" class="share-button">
                                    <i class="fas fa-plus"></i>
                                </label>
                                <a href="#" class="share-icon facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="share-icon twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="share-icon instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Adhom Jonam</h4>
                            <span>Project Manager</span>
                        </div>
                    </div>
                </div>
                <!-- End Sngle Item -->
                <!-- Sngle Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/img/team/3.jpg" alt="Thumb">
                            <div class="social">
                                <input type="checkbox" id="toggle-3" class="share-toggle" hidden>
                                <label for="toggle-3" class="share-button">
                                    <i class="fas fa-plus"></i>
                                </label>
                                <a href="#" class="share-icon facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="share-icon twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="share-icon instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Turka Pruda</h4>
                            <span>CEO, Co-Founder</span>
                        </div>
                    </div>
                </div>
                <!-- End Sngle Item -->
                <!-- Sngle Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/img/team/4.jpg" alt="Thumb">
                            <div class="social">
                                <input type="checkbox" id="toggle-4" class="share-toggle" hidden>
                                <label for="toggle-4" class="share-button">
                                    <i class="fas fa-plus"></i>
                                </label>
                                <a href="#" class="share-icon facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="share-icon twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="share-icon instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Sporia Deko</h4>
                            <span>Marketing</span>
                        </div>
                    </div>
                </div>
                <!-- End Sngle Item -->
                <!-- Sngle Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/img/team/5.jpg" alt="Thumb">
                            <div class="social">
                                <input type="checkbox" id="toggle-5" class="share-toggle" hidden>
                                <label for="toggle-5" class="share-button">
                                    <i class="fas fa-plus"></i>
                                </label>
                                <a href="#" class="share-icon facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="share-icon twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="share-icon instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Adhom Jonam</h4>
                            <span>Project Manager</span>
                        </div>
                    </div>
                </div>
                <!-- End Sngle Item -->
                <!-- Sngle Item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/img/team/6.jpg" alt="Thumb">
                            <div class="social">
                                <input type="checkbox" id="toggle-6" class="share-toggle" hidden>
                                <label for="toggle-6" class="share-button">
                                    <i class="fas fa-plus"></i>
                                </label>
                                <a href="#" class="share-icon facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="#" class="share-icon twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" class="share-icon instagram">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="info">
                            <h4>Turka Pruda</h4>
                            <span>CEO, Co-Founder</span>
                        </div>
                    </div>
                </div>
                <!-- End Sngle Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->
