@{
    ViewBag.Title = "Contact";
}
<!-- Start Breadcrumb
============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(../files/img/banner/15.jpg);">
    <div class="container">
        <div class="row align-center">
            <div class="col-lg-6">
                <h2>Faqs</h2>
            </div>
            <div class="col-lg-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li class="active">Faqs</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="faq-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 info wow fadeInLeft">
                <h2>We Help IT Companies Scale Engineering Capacity</h2>
            
                <div class="faq-content accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Do I need a business plan?
                            </h4>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long should a business plan be?
                            </h4>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Where do I start?
                            </h4>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour1">
                            <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour1" aria-expanded="false" aria-controls="collapseFour1">
                                Lasted engage roused mother?
                            </h4>
                        </div>
                        <div id="collapseFour1" class="collapse" aria-labelledby="headingFour1" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                </p>
                            </div>
                        </div>
                    </div>

                     <div class="card">
                        <div class="card-header" id="headingFour2">
                            <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                                Lasted engage roused mother?
                            </h4>
                        </div>
                        <div id="collapseFour1" class="collapse" aria-labelledby="headingFour2" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour2">
                            <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
                                Continue building numerous of at relation?
                            </h4>
                        </div>
                        <div id="collapseFour2" class="collapse" aria-labelledby="headingFour2" data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form col-lg-5 offset-lg-1">
                <div class="appoinment-form wow fadeInUp">
                    <div class="heading">
                        <h4>Appointment</h4>
                        <p>
                            Country man his pressed shewing. No gate dare rose he. Eyes year if miss he as upon
                        </p>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" placeholder="Email" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select>
                                        <option value="1">Select Department to email</option>
                                        <option value="2">Your inquiry about</option>
                                        <option value="3">General Information Request</option>
                                        <option value="4">Partner Relations</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" name="submit" id="submit">
                                    Submit Query
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
