@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid pb-5 pt-5 page-header">
    <div class="position-relative">
        <div class="container">
            <div class="intro">
                شركة ملتقى للبرمجيات وتقنية المعلومات، اهم وافضل شركات صناعة البرمجيات بخبرة تزيد عن ٥ سنوات من النجاحات والانجازات مما جعلها واحدة من افضل حاضنات الاعمال بداية من دراسة المشروع ودراسة السوق وتنفيذه بشكل يتناسب مع الواقع نحن رواد في مجال صناعة البرمجيات في المملكة العربية السعودية والوطن العربي، حيث نقدم حلولًا رقمية مبتكرة. تأسست شركة ملتقى في عام 2020 لتقديم خدمات تصميم وتطوير المواقع الإلكترونية وتطبيقات الجوال، واستضافة المواقع، والتسويق الإلكتروني، بالإضافة إلى حلول متكاملة في مجال البرمجيات. ابدأ رحلتك الرقمية الفريدة مع ملتقى، أفضل شركة برمجة سعودية.
            </div>
        </div>
    </div>
</div>
