@{
    ViewBag.Title = "Home Page";
}
<!-- Start Banner
     ============================================= -->
    <div class="banner-area content-less bg-gray">
        <div id="bootcarousel" class="carousel slide carousel-fade animate_text" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner carousel-zoom">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row align-center">

                            <div class="col-lg-6">
                                <div class="content">
                                    <h2 class="animated slideInDown">Creating a better <strong>IT solutions</strong></h2>
                                    <p class="animated slideInLeft">
                                        Affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.
                                    </p>
                                    <div class="bottom">
                                        <a class="btn btn-theme effect btn-md animated slideInLeft" href="#">Start A Project</a>
                                        <div class="call-us animated slideInUp">
                                            <div class="icon">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <div class="info">
                                                <h5>+966 000000000</h5>
                                                <span>Call for any question</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 thumbs">
                                <img class="animated slideInUp" src="~/files/img/illustration/8.png" alt="Thumb">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row align-center">

                            <div class="col-lg-6">
                                <div class="content">
                                    <h2 class="animated slideInDown">Transform every<strong>Digital Process</strong></h2>
                                    <p class="animated slideInLeft">
                                        Affixed pretend account ten natural. Need eat week even yet that. Incommode delighted he resolving sportsmen do in listening.
                                    </p>
                                    <div class="bottom">
                                        <a class="btn btn-theme effect btn-md animated slideInLeft" href="#">Start A Project</a>
                                        <div class="call-us animated slideInUp">
                                            <div class="icon">
                                                <i class="fas fa-phone"></i>
                                            </div>
                                            <div class="info">
                                                <h5>+966 000000000</h5>
                                                <span>Call for any question</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 thumbs">
                                <img class="animated slideInUp" src="~/files/img/illustration/9.png" alt="Thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->
            <!-- Left and right controls -->
            <a class="left carousel-control light" href="#bootcarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control light" href="#bootcarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- End Banner -->
   
     <!-- Star About Area
    ============================================= -->
    <div class="about-area inc-shape default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="thumb">
                        <img src="~/files/img/about/1.jpg" alt="Thumb">
                        <img src="~/files/img/about/2.jpg" alt="Thumb">
                        <div class="overlay">,,;
                            <div class="content">
                                <h4>20 years of experience</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 info">
                    <h2>We Help IT Companies Scale Engineering Capacity</h2>
                    <p>
                        Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure horrible margaret suitable he followed speedily. Indeed vanity excuse or mr lovers of on. By offer scale an stuff. Blush be sorry no sight sang lose. 
                    </p>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="flaticon-certification"></i>
                            </div>
                            <div class="info">
                                <h4>Certified Company</h4>
                                <p>
                                    Assurance yet bed was improving furniture man. Distrusts delighted she listening. 
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="flaticon-award-star-with-olive-branches"></i>
                            </div>
                            <div class="info">
                                <h4>Award Ceremony</h4>
                                <p>
                                    Assurance yet bed was improving furniture man. Distrusts delighted she listening mrs extensive. 
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->

     <!-- Start Features 
    ============================================= -->
    <div class="features-area overflow-hidden bg-gray default-padding">
        <!-- Fixed Shpae  -->
        <div class="fixed-shape shape left bottom">
            <img src="~/files/img/shape/3.png" alt="Shape">
        </div>
        <!-- End Fixed Shpae  -->
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-5 why-us">
                    <h5>why choose us</h5>
                    <h2>Custom IT Solutions for Your Business</h2>
                    <p>
                        Carried nothing on am warrant towards. Polite in of in oh needed itself silent course. Assistance travelling so especially do prosperous appearance mr no celebrated. Wanted easily in my called formed suffer. Songs hoped sense as taken ye mirth at. Believe fat how six drawing pursuit minutes far. Same do seen head am part it dear open to Whatever.
                    </p>
                    <a class="popup-youtube relative theme video-play-button" href="https://www.youtube.com/watch?v=owhuBrGIOsE">
                        <i class="fa fa-play"></i> <span>Video Showcase</span>
                    </a>
                </div>
                <div class="col-lg-7 features-box text-center">
                    <div class="row">

                        <!-- Item Grid -->
                        <div class="col-lg-6 col-md-6 item-grid">
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-cogwheel"></i>
                                <h5><a href="#">IT Consultancy</a></h5>
                                <p>
                                     Astonished set expression solicitude way admiration
                                </p>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-globe-grid"></i>
                                <h5><a href="#">Cyber Security</a></h5>
                                <p>
                                     Astonished set expression solicitude way admiration
                                </p>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        <!-- End Item Grid -->

                        <!-- Item Grid -->
                        <div class="col-lg-6 col-md-6 item-grid">
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-cloud-storage"></i>
                                <h5><a href="#">Cloud Computing</a></h5>
                                <p>
                                     Astonished set expression solicitude way admiration
                                </p>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <i class="flaticon-backup"></i>
                                <h5><a href="#">Backup & Recovery</a></h5>
                                <p>
                                     Astonished set expression solicitude way admiration
                                </p>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        <!-- End Item Grid -->

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- End Features Area -->

    <!-- Star About Area
    ============================================= -->
    <div class="faq-area default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 info wow fadeInLeft">
                    <h2>We Help IT Companies Scale Engineering Capacity</h2>
                    <p>
                        Dissuade ecstatic and properly saw entirely sir why laughter endeavor. In on my jointure horrible margaret suitable he followed speedily. Indeed vanity excuse or mr lovers of on. By offer scale an stuff.
                    </p>
                    <div class="faq-content accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Do I need a business plan?
                                </h4>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How long should a business plan be?
                                </h4>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Where do I start?
                                </h4>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form col-lg-5 offset-lg-1">
                    <div class="appoinment-form wow fadeInUp">
                        <div class="heading">
                            <h4>Appointment</h4>
                            <p>
                                Country man his pressed shewing. No gate dare rose he. Eyes year if miss he as upon
                            </p>
                        </div>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Subjects" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" id="submit">
                                        Submit Query
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->
    <!-- Start Services
    ============================================= -->
    <div class="services-area carousel-shadow default-padding bg-gray bg-cover">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Services</h4>
                        <h2>What we do</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="services-items services-carousel owl-carousel owl-theme text-center">
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="~/files/img/icon/1.png" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>IT Design</h4>
                        <p>
                            Extremity now strangers contained breakfast him discourse additions. Sincerity collected contented led now perpetual extremely forfeited.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="~/files/img/icon/2.png" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>Data Security</h4>
                        <p>
                            Extremity now strangers contained breakfast him discourse additions. Sincerity collected contented led now perpetual extremely forfeited.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="~/files/img/icon/3.png" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>Business Reform</h4>
                        <p>
                            Extremity now strangers contained breakfast him discourse additions. Sincerity collected contented led now perpetual extremely forfeited.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="~/files/img/icon/4.png" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>Firewall Advance</h4>
                        <p>
                            Extremity now strangers contained breakfast him discourse additions. Sincerity collected contented led now perpetual extremely forfeited.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="item">
                    <div class="icon">
                        <img src="~/files/img/icon/5.png" alt="Icon">
                    </div>
                    <div class="info">
                        <h4>IT Management</h4>
                        <p>
                            Extremity now strangers contained breakfast him discourse additions. Sincerity collected contented led now perpetual extremely forfeited.
                        </p>
                        <a href="#">Discover More <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
    <!-- End Services Area -->
    <!-- Start Work Process
    ============================================= -->
    <div class="work-process-area overflow-hidden default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Process</h4>
                        <h2>How we works</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="work-pro-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-select"></i>
                                    <span>01</span>
                                </div>
                                <h5>Choose a Service</h5>
                                <p>
                                    Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-video-call"></i>
                                    <span>02</span>
                                </div>
                                <h5>Request a Meeting</h5>
                                <p>
                                    Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-strategy"></i>
                                    <span>03</span>
                                </div>
                                <h5>Receive Custom Plan</h5>
                                <p>
                                    Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-3 col-md-6">
                        <div class="item">
                            <div class="item-inner">
                                <div class="icon">
                                    <i class="flaticon-help"></i>
                                    <span>04</span>
                                </div>
                                <h5>Let’s Make it Happen</h5>
                                <p>
                                    Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking better.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Work Process Area -->
   
       <div class="clients-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="clients-carousel owl-carousel owl-theme">
                    <a href="#"><img src="~/files/img/clients/1.png" alt="Client"></a>
                    <a href="#"><img src="~/files/img/clients/2.png" alt="Client"></a>
                    <a href="#"><img src="~/files/img/clients/3.png" alt="Client"></a>
                    <a href="#"><img src="~/files/img/clients/4.png" alt="Client"></a>
                    <a href="#"><img src="~/files/img/clients/5.png" alt="Client"></a>
                    <a href="#"><img src="~/files/img/clients/6.png" alt="Client"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Start Contact
    ============================================= -->
    <div class="contact-area overflow-hidden default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 contact-form-box">
                    <div class="content">
                        <div class="heading">
                            <h2>Need Help?</h2>
                            <p>Reach out to the world’s most reliable IT services.</p>
                        </div>
                        <form action="https://webhunt.store/themeforest/techa/files/mail/contact.php" method="POST" class="contact-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                        <span class="alert-error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group comments">
                                        <textarea class="form-control" id="comments" name="comments" placeholder="Please describe what you need."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" name="submit" id="submit">
                                        Get a free consultation
                                    </button>
                                </div>
                            </div>
                            <!-- Alert Message -->
                            <div class="col-md-12 alert-notification">
                                <div id="message" class="alert-msg"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 info">
                    <div class="contact-tabs">
                        <ul id="tabs" class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#" data-target="#tab1" data-toggle="tab" class="active nav-link">
                                    Address
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" data-target="#tab2" data-toggle="tab" class="nav-link">
                                    Google Maps
                                </a>
                            </li>
                        </ul>
                        <div id="tabsContent" class="tab-content">
                            <div id="tab1" class="tab-pane fade active show">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="info">
                                            <p>
                                                Our Location
                                                <span>Saudi, Riyadh </span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope-open"></i>
                                        </div>
                                        <div class="info">
                                            <p>
                                                Send Us Mail
                                                <span>info@phoenixwings.com</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="info">
                                            <p>
                                                Call Us
                                                <span>+966 00000000</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1846.622920364846!2d35.913361076284815!3d31.91415947278254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d31.9145769!2d35.914324199999996!5e0!3m2!1sen!2sjo!4v1610483877722!5m2!1sen!2sjo" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
